.App {
	text-align: center;
	background-color: #161d32;
}

.content {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: #f7f6f3;
	position: relative;
	z-index: 1;
}

.backdrop {
	background-image: url("https://images.unsplash.com/photo-1545987796-200677ee1011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	filter: invert(1);
}

.predictions-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	text-align: center;
	overflow: hidden;
}

.App-link {
	color: #09d3ac;
}
